body{
  background-color: rgb(221, 204, 208);
}

main{
  min-height: 70vh;
  font-family: 'Saira', sans-serif;
}

.answerQuestion{
  background-color: grey;
  padding: 10px
}

.answerQuestion:hover, .selected{
  background-color: rgba(25, 0, 255, 0.651);
  box-shadow: 0px 0px 10px rgba(31, 25, 25, 0.582)
}

.mt-n1 {
  margin-top: -3rem !important;
}

footer{
  text-align: center;
  color:black;
}